/******************Common Style Start**************/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: #AAAAAA;
    font-family: 'Poppins', sans-serif;
}
.container{
    color: #3A3A3A;
    width: 1200px;
    margin: 0 auto;
}
/******************Common Style end**************/
/******************Navigation Start*****************/
.nav-container{
    background-color: white;
    padding: 30px;

}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 5px;
    padding: 10px 15px;
}
nav ul li a{
    font-size: 16px;
    font-weight: 700;
    color: #3A3A3A;
}
/**************Banner section start**************/
.banner-container{
    background-color: white;
    padding: 30px;
}
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    padding-right: 70px;
    font-size: 45px;
    font-weight: 700;
}
.banner-discription {
    padding-right: 151px;
    padding-top: 30px;
}

.btn-primary {
    width: 195px;
    height: 44px;
    background-color: #E02C6D;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    margin-top: 30px;

}
/****************Conpany Promotion start************/
.company-container{
    background-color: white;
    padding: 30px;
}
.company-detile{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.company-name img{
    width: 55px;
    height: 32px;
}
/********************Popular Gallary start**************/
.popular-container{
    background-color: white;
}
.popular-title{
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}
.popular-gallary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 50px;
}
.gallary{
    padding: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.gallary img{
    width: 300px;
    height: 256px;
}
.gallary ul{
    display: flex;
}
.gallary ul li{
    list-style: none;
}
.product-title{
    font-weight: 700;
    padding-top: 24px;
}
.product-price{
    padding-top: 16px;
    padding-bottom: 10px;
}
.product-detile{
    padding-top: 6px;
    padding-right: 30px;
}
.btn-gallary{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
    color: #E02C6D;
    font-size: 16px;
    font-weight: bold;
    padding-right: 20px;
}
/********************Featured Part******************/
.featured-container{
    background-color: white;
    padding: 100px 0px;
}
.featured{
    display: flex;
}
.featured-image img{
    width: 404px;
    height: 270px;
    padding-left: 30px;
}
.featured-detile{
    margin-left: 95px;
}
.featured-title{
    font-size: 40px;
    color: #0A0826;
}
.featured-info{
    color: #6C6C6C;
    font-size: 16px;
    padding-top: 30px;
    padding-right: 210px;
}
.btn-featured{
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    background-color: #E02C6D;
    padding: 15px 30px;
    color: #ffffff;
    font-size: 16px;
}
/*****************Footer Part**************/
.footer-container{
    background-color: #0A0826;
}
.footer{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 50px 0px;
}
.footer-title{
    color: #ffffff;
    padding-bottom: 16px;
}
.footer-detile{
    color: #D9DBE1;
    padding-bottom: 16px;
}
.social ul{
    display: flex;
}
.social ul li{
    padding: 10px;
}
.social ul{
    list-style: none;
    justify-content: center;
}



@media only screen and (max-width:576px) {
    nav ul{
        visibility: hidden;
    }
    .container{
        width: 576px;
    }
    .nav-title{
        position: absolute;
        right: 200px;
    }
    .nav-title h1{
       font-size: 20px;
       color: #000;
    }
    /**********************/
    .banner-section{
        position: relative;
    }
    .banner-image{
        position: absolute;
        top: 0;
    }
    .banner-detils{
        position: absolute;
        top: 500px;
        text-align: center;
    }
    .banner-title{
        font-size: 30px;
        font-weight: 800;
        color: #000;
    }
/* *********************************************/
    .company-container{
        padding-top: 850px;
    }
/****************************************************/
    .popular-gallary{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
    }
    .gallary img{
        width: 100%;
    }
    /********************************************/
    .featured {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .featured-image img{
        width: 100%;
        padding: 0px;
    }
    .featured-title {
        font-size: 49px;
        margin-top: 20px;
        text-align: center;
    }
    .featured-info{
        text-align: center;
        padding-right: 0px;
    }
    .featured-detile {
        margin-left: 44px;
    }
    .btn-featured {
        display: flex;
        margin-inline: auto;
    }
}