/* Common Css */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    color: #3A3A3A;
    width: 1200px;
    border: 1px solid;
    margin: 0 auto;
}
/* Navigation Start */
.nav-container{
    background-color: #bfc6c9;
    padding: 30px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 5px;
    padding: 10px 15px;
}
nav ul li a{
    font-size: 16px;
    font-weight: 700;
    color: #3A3A3A;
}
/**************Banner section**************/
.banner-container{
    background-color: #AAAAAA;
    padding: 30px;
}
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    padding-right: 70px;
    font-size: 45px;
}
.banner-discription {
    padding-right: 151px;
    padding-top: 30px;
}
.btn-primary {
    background-color: #E02C6D;
    color: #ffffff;
    padding: 12px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 34%;
}
/****************Conpany Promotion************/
.company-container{
    padding: 50px 30px;
}
.company-detile{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}